/*Get rid of browser margins*/
body{margin: auto 0;}

#logo{padding: 0px;}

.left{margin-right: auto;}

.nav-logo{height: 8vh;}

.nav-item{padding-left: 25px; padding-right: 25px;}


/* Dropdown Button */
.nav-title{
  	color: #359CF6;
  	font-size: 16px;	
    font-family: "Arial";
  	border: none;
}

.nav-title:hover {color: #A7D5FD;}

.cover{
  color: #fff;
  font-family: "Pacifico", "Times New Roman";
  height: 15vh;
  background-color: rgba(4,132,243,0.5);
}

.grid{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr 1fr;
	grid-gap: 10px;

	background-color: rgba(4,132,243,0.5);
	margin: 20px;

	transition: 0.15s all ease-in;
}

.grid:hover{
	transform: scale(1.05);
}

.background-white{
	background-color: white;
	margin: 10px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.div-rounded{
	border-radius: 20px;
}

.partner-logo{
	max-width: 75%;
	height: auto;
	text-align: center;
}

.partner-logo-big{
	max-width: 50%;
	height: auto;
	text-align: center;
}

.partner-title{
	font-size: 1.1em;
	font-weight: bold;
}

#plea-logo{width: 100px;}

.footer{
  border-top: 2px solid black;
}

.footer-item{
  list-style: none;
  padding: 10px 20px 5px 20px;
}

.footer-title{
  font-size: 1.1em;
  font-weight: bold;
}

.icon{
  height: 30px;
  margin: 10px;
}