.cover{
  color: #fff;
  font-family: "Pacifico", "Times New Roman";
  height: 15vh;
  background-color: rgba(4,132,243,0.5);
}

.row-one, .row-two, .row-three{
  display: grid;
  grid-template-columns: 40vw 40vw;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(4,132,243,0.5);
}


.body-item{
  overflow: hidden;
  padding: 20px;
  position: relative;
  font-family: "Gill Sans";
  font-size: 1.1em;

}

.body-item h3{
  text-align: center;
  color: #fff;
  font-family: "Pacifico", "Times New Roman";

}


.img{
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

@media (max-width: 800px) {

  .cover{
    padding-left: 5px;
    padding-right: 5px;
  }

  .cover h1{
    font-size: 2.2em;
  }

  .row-one, .row-two, .row-three{
    display: grid;
    grid-template-columns: 95vw;
    grid-template-rows: 1fr 1fr;

    margin-left: auto;
    margin-right: auto;

    background-color: rgba(4,132,243,0.5);
  }

  .body-item{
    font-size: 0.95em;
  }

  .img{
    height: auto;
  }

}
