body{
	margin: auto 0;
}

nav{
	width: 100%;
	background-color: #fff;
}

.main-nav, .main-footer{

	margin: auto 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;

	list-style: none;

}

.main-footer{
	justify-content: center;
}

.nav-item, .footer-item{
	padding: 20px;
	
}

.left{
	margin-right: auto;
}

.nav-logo{
	height: 8vh;
	padding: 0px;
}

.carousel-text, .carousel-title{
	color: #5A9AFA;
	font-family: "Be Vietnam" , "Calibri";
	font-size: 1.5em;
	font-weight: bold;
	text-shadow: 0px 0px 5px #000;	
	
}

.carousel-title{
	font-size:4em;
	font-weight: bolder;
}
