/*Get rid of browser margins*/
body{margin: auto 0;}

#logo{padding: 0px;}

.left{margin-right: auto;}

.nav-logo{height: 8vh;}

.nav-item{padding-left: 25px; padding-right: 25px;}


/* Dropdown Button */
.nav-title{
  	color: #359CF6;
  	font-size: 16px;	
    font-family: "Arial";
  	border: none;
}

.nav-title:hover {color: #A7D5FD;}



.carousel-text, .carousel-title{
	color: #5A9AFA;
	font-family: "Be Vietnam" , "Calibri";
	font-size: 1.5em;
	font-weight: bold;
	text-shadow: 0px 0px 10px #000;	
	
}

.carousel-title{
	font-size:4em;
	font-weight: bolder;
}


#plea-logo{width: 100px;}

.footer{
  border-top: 2px solid black;
}

.footer-item{
  list-style: none;
  padding: 10px 20px 5px 20px;
}

.footer-title{
  font-size: 1.1em;
  font-weight: bold;
}

.icon{
  height: 30px;
  margin: 10px;
}

@media (max-width: 550px){
  .footer-container{
    width: 80vw;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
  }
}


